extends layout.jade

block nav-links
    a(href='/').blog-nav-item Home
    a(href='/about').blog-nav-item.active About

block content
    div.blog-header
        h1.blog-title About

    div.row
        div.col-sm-8.blog-main
            div.blog-post
                h2.blog-post-title Test Post
                p.blog-post-meta January 31, 2016
                p This is a test post

        div.col-sm-3.com-sm-offset-1.blog-sidebar
            div.sidebar-module.sidebar-module-inset
                h4 About
                p This is where Jonathan McCall writes about software engineering and programming. Jonathan is currently a software engineer in New York City.
            div.sidebar-module
                h4 Links
                ol.list-unstyled
                    li
                        a(href='https://github.com/jonnymcc') Jon's GitHub
                    li
                        a(href='https://www.linkedin.com/in/jonathanmcc') Jon on LinkedIn