extends layout.jade

block nav-links
    a(href='/').blog-nav-item.active Home
    a(href='/about').blog-nav-item About

block blog-header
  div.blog-header
      h1.blog-title Hello!
      p.lead.blog-description And welcome to my blog

block blog-content
  include posts/test-post.jade
