extends layout.jade

block nav-links
    a(href='/').blog-nav-item.active Home
    a(href='/about').blog-nav-item About

block blog-content
    - each d in docs
        div.blog-post
            h2.blog-post-title= d.title
            p.blog-post-meta= moment(d.date).format('MMMM D, YYYY')
            | !{ d.text }
