doctype html
html(lang='en')
    head
        title The blog of Jonathan McCall
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous", rel='stylesheet')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
  body
    div.blog-masthead
        div.container
            nav.blog-nav
                block nav-links

    div.container.blog-content
        div.row
            div.col-sm-8.blog-main
               block blog-content

             block blog-sidebar
               div.col-sm-3.com-sm-offset-1.blog-sidebar
                   div.sidebar-module.sidebar-module-inset
                       h4 About
                       p Thoughts and ruminations from a software engineer. When something interests me or I learn something cool that I feel I must share, I'll post it here. I hope it will interest you as well.
                   div.sidebar-module
                       h4 Links
                       ol.list-unstyled
                           li
                               i.fa.fa-github-square
                               a(href='https://github.com/jonnymcc')  Check my GitHub
                           li
                               i.fa.fa-linkedin-square
                               a(href='https://www.linkedin.com/in/jonathanmcc')  And on LinkedIn

    footer.blog-footer
        p Blog built with 
           a(href='http://expressjs.com/') Express
           | , 
           a(href='https://fortawesome.github.io/Font-Awesome/') Font Awesome
           | , and 
           a(href='http://getbootstrap.com/') Bootstrap
        p
            a(href='#') Back to top