div.blog-post
      h2.blog-post-title A First Post
      p.blog-post-meta January 31, 2016
      p While programming I have encountered things that I would like to have written about and I needed somewhere where I could collect these writings. Thus I have started this blog. Another reason for starting this blog was to experiement with different software that I do not get to use often in my daily work.
      p I plan on actually contributing to this blog, so I will make an effort of taking note of things I find interesting and will eventually get them up here. If this blog does end up growing stale please let me know that I have been neglecting it!